div#map{
    min-height: 85vh;
    width: 100%;
    border:1px solid #000;
    /*margin-bottom: 50px;*/
}

.d-inline-input{
    display: inline-block;
    width: 80%;
}
.button-align-to-input-box{
    padding:5px 7px;
}
.btn-save{
    margin-top:22px;
    padding: 7px 15px;
}